@import '../Data/Colors.scss';
footer {
    padding: 1% 5%;
    text-align:center;
    background-color: $Firt;
    color: $Snow;
    
    a {
      color: $Fourth;
      font-weight: 500;
      text-decoration: none;
    }
    
  }