header{
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    position: fixed;
    background: #7e84a3f6;
    z-index: 1000;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    text-align:center;
    line-height:160px;

    h1{
        font-size: 275%;
        font-weight: normal;
        color: whitesmoke;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
}
.shrink{
    height: 100px;
    line-height: 80px;
    h1{
        font-size:24px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
}
.content
{
height:20000px;
 /*just to get the page to scroll*/
}