@import '../Data/Colors.scss';
.content
{
    height:200px;
 /*just to get the page to scroll*/
}

.Home{
    section {
        width:90%; 
        margin-left: 5%;
        display: table;
        max-width: none;
        background-color: $Third ;
        height: 90vh;
        
        &:nth-of-type(2n) {
          background-color: $Fourth;
        }
      }
      
      .intro {
        height: 90vh;
      }
      
      .content {
        display: table-cell;
        vertical-align: middle;
      }
      
      h1 {
        font-size: 3em;
        display: block;
        color: $Snow;
        font-weight: 300;
      }
      
      p {
        font-size: 1.5em;
        font-weight: 500;
        color: $Black;
      }
      
      a {
        font-weight: 700;
        color: $Third;
        position: relative;
        
        &:hover{ 
          opacity: 0.8;
        }
      }
}